@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 209 100% 95%;
    --foreground: 210 26% 11%;

    --card: 209 100% 95%;
    --card-foreground: 210 26% 11%;

    --popover: 209 100% 95%;
    --popover-foreground: 210 26% 11%;

    --primary: 166 88% 45%;
    --primary-foreground: 209 100% 95%;

    --secondary: 181 100% 41%;
    --secondary-foreground: 210 26% 11%;

    --muted: 181 100% 41%;
    --muted-foreground: 181 100% 17%;

    --accent: 181 100% 41%;
    --accent-foreground: 210 26% 11%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 181, 100%, 41%;
    --input: 181 100% 41%;
    --ring: 181 100% 17%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }

  [data-theme='dark'] {
    --background: 210 26% 11%;
    --foreground: 209 100% 95%;

    --card: 210 26% 11%;
    --card-foreground: 209 100% 95%;

    --popover: 210 26% 11%;
    --popover-foreground: 209 100% 95%;

    --primary: 166 88% 45%;
    --primary-foreground: 210 26% 11%;

    --secondary: 181 100% 17%;
    --secondary-foreground: 209 100% 95%;

    --muted: 181 100% 17%;
    --muted-foreground: 181 100% 41%;

    --accent: 181 100% 17%;
    --accent-foreground: 209 100% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 181, 100%, 17%;
    --input: 181 100% 17%;
    --ring: 181 100% 41%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
